@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,40;0..900&family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --primary: #5ae4a7;
    --primary-dark: #033229;
    --primary-light: #d6f7e7;
    --background: white;
    --background-offwhite: white;
    --text-black: black;
    --text-blue: #1c2e35;
}

body {
    background-color: var(--background);
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}
.nav_content a {
    transition: all 0.3s ease 0s;
    padding: 20px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.nav_content a:hover {
    background-color: var(--primary);
}

.Register button {
    padding: 25px 20px;
    background-color: var(--primary-light);
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    transition: all 0.3s ease 0s;
}

.Register button:hover {
    background-color: var(--primary);
}

section {
    padding-top: 100px; /* Adjusted for fixed header */
}

.section1 .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section1 .hero-left {
    margin-top: 100px;
}

.section1 .hero-left h1 {
    margin: 20px;
    font-family: "Anton", sans-serif;
    line-height: 1;
    font-size: 70px;
    color: var(--text-blue);
    font-weight: 600;
}

.section1 .hero-left p {
    margin: 10px;
    font-size: 20px;
}

.section1 .hero-left span {
    font-family: "Shadows Into Light", cursive;
    font-size: 90px;
}

.section1 .hero-left button {
    margin: 10px;
    background-color: var(--primary);
    color: white;
    height: 20px;
    width: 180px;
    padding: 20px;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 img {
    height: 500px;
    width: 500px;
}

.section1 .stats {
    background-color: var(--primary-light);
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
}

.stats .card {
    padding: 0.2rem;
    background-color: var(--primary-light);
    max-width: 320px;
    border-radius: 20px;
}

.stats .title {
    display: flex;
    align-items: center;
}

.stats .title-text {
    margin-left: 0.1rem;
    color: #374151;
    font-size: 18px;
}

.stats .percent {
    margin-left: 0.5rem;
    color: var(--text-blue);
    font-weight: 600;
    display: flex;
}

.stats .data {
    display: flex;
    flex-direction: column;
}

.stats .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-blue);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
}

.stats .data .range {
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
}

.stats .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 0;
    height: 100%;
    border-radius: 0.25rem;
    transition: width 2s ease-out;
}

.section2 {
    min-height: 90vh;
    background-color: var(--primary-light);
}

.section2 .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 230px;
}

.section2 h1 {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    font-family: "Anton", sans-serif;
    font-size: 50px;
    color: var(--text-blue);
    font-weight: 600;
}

.section2 .card {
    position: relative;
    width: 17em;
    height: 22em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
    border: var(--primary-dark) 1px solid;
}

.section2 .card::after {
    content: "I'm Up Take me there.";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 92.5%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
}

.section2 .card .title {
    font-family: "Anton", sans-serif;
    font-size: 2em;
    position: absolute;
    bottom: 0.90em;
    font-weight: 400;
    color: var(--text-blue);
}

.section2 .card:hover::after {
    bottom: 0;
    opacity: 1;
}

.section2 .card:active {
    transform: scale(0.98);
}

.section2 .text {
    max-width: 55px;
}

.section2 .image img {
    background: rgba(241, 241, 241, 0);
    width: 100%;
    height: 100%;
    background-size: cover;
    place-items: center;
}

.section3 {
    min-height: 80vh;
}

.section3 h1 {
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    font-family: "Anton", sans-serif;
    font-size: 50px;
    color: var(--text-blue);
    font-weight: 600;
}

.section3 .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 230px;
}

.section3 img {
    height: 450px;
    width: 450px;
}

.section3 p {
    font-size: 20px;
    margin: 40px;
}

.section3 .image img {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    background-size: cover;
    place-items: center;
}

.container {
    max-width: 100pc;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--primary-light);
    margin-left: auto;
    margin-right: auto;
    padding: 50px 200px;
}

.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: var(--primary);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--primary);
}

.form button:hover {
    background: var(--primary-dark);
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}
